@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none hover:opacity-90;
}

.home__text-container {
  @apply flex flex-col items-center justify-start gap-y-2.5 text-black-100;
}

.home__jobs-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}
.job-card {
  @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

.job-card__content {
  @apply w-full flex justify-between flex-col items-start gap-2 whitespace-nowrap overflow-hidden text-ellipsis;
}

.job-card__content-center {
  @apply w-full flex justify-between flex-col items-center gap-2;
}

.job-card__content-title {
  @apply w-full text-[22px] leading-[26px] font-bold capitalize whitespace-nowrap overflow-hidden text-ellipsis;
}
.searchbar {
  @apply flex items-center justify-center max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
}
.search {
  @apply flex-1 max-sm:w-full flex justify-start items-center;
}

.search__textArea {
  @apply w-full max-w-md h-[48px] pl-12 p-4 rounded-lg max-sm:rounded-full bg-light-white outline-none text-sm;
}
.search__input {
  @apply w-full max-w-md h-[48px] pl-12 p-4 rounded-full max-sm:rounded-full bg-light-white outline-none text-sm;
}

.nav-link {
  @apply flex justify-center items-center hover:bg-black/5 rounded-lg;
}

.section-styles {
  @apply text-black text-xl font-bold self-center;
}